html {
font-family: 'M PLUS Rounded 1c', sans-serif;
}
.box {
  width: 270px;
  height: 270px;
  max-width: 100%;
  background: var(--bg2);
  margin: 1rem auto;
  display: flex;
  /*
  align-items: center;
  */
  justify-content: center;
  font-size: 2rem;
}
.box-2 {
  border: 3px solid;
  border-image-source: linear-gradient(90deg, rgb(180,104,235), rgb(128,149,221));
  border-image-slice: 1;
}

.gap{
	height:30px;
	background:none;
	display:inline-block;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  padding: 2rem;
}

h1,
button {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	/*
	font-weight: 100;
	*/
	color: white;
}

h1 {
	letter-spacing: 0.5em;
	text-align: center;
	margin-top: 50px;
	line-height: 1.6em;
}

p {
	font-size: 1.1em;
	text-align: center;
	color: grey;
	/*
	letter-spacing: 0.05em;
	*/
}

.container {
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
	cursor: pointer;
}

button {
	position: relative;
	height: 50px;
	width: 280px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	/*
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
	*/
	z-index: -2;
}

.button-one {
}

.fill-two {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	background-size: 150% 150%;
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-two:hover .fill-two {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
