html {
font-family: 'M PLUS Rounded 1c', sans-serif;
}

img.logo {
  object-fit: cover;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  padding: 2rem;
}

.featured-container {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 270px;
  max-width: 100%;
  margin: 1rem auto;
}

.border-gradient {
  border: 3px solid;
  border-image-source: linear-gradient(90deg, rgb(180,104,235), rgb(128,149,221));
  border-image-slice: 1;
}

.link-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.button{
      text-decoration: none;
      margin: 10px;
      font-size: 20px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 3px;
      width: 200px;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      cursor: pointer;
      display: inline-block;
}

.button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
/*
linear-gradient(to right, #5d4ddc 0%, #ff00b8 51%, #42268e 100%)
*/
.gradient1 {
  background-image: linear-gradient(to right, #ffccec 0%, #726cd8 51%, #9eebff 100%)
}
.gradient1:hover {
  background-position: right center;
}

.gap{
	height:30px;
	background:none;
	display:inline-block;
}
